div.main_area{
    width: 100%;
    height: 500px;
    padding-top: 0px ;
    padding-bottom: 10px;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
    background-image: url(./picture/pexels-photo-457712.jpeg); 
    background-repeat:no-repeat;
    background-size: 100% 1000px;
}

div.search_area{
    letter-spacing: 5px;
    font-size: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 200px;
    position: relative;
    text-align: center;
    color:white;
    bottom: 0;
    position: relative;
    text-shadow: black 0.2em 0.2em 0.2em;
    font-weight: 600;
}

div.search_area form{
    padding-top: 40px;
}

div.main_area input[type=text] {
    border: none;
    outline: none;
    margin: 0;
    padding: 0 15px;
    color: #111;
    box-sizing: border-box;
    -webkit-appearance: none;
    height: 50px;
    width: 45vw;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-radius: 4px;
}

button#search_button{
    font-size: 20px;
    overflow: hidden;
    background: transparent;
    border: none;
    width: 40px;
    margin: 0 0 0 -60px;
}

div.trending{
    letter-spacing: 5px;
    margin-top: 60px;
    margin-bottom: 25px;
    padding-left: 40%; 
    font-weight: 500;
    font-size: 3vh;
    color: lightslategray;
}





